header{
    width: 3370px;
    height: 100px;
    background-color: brown;
    border-color:white ;


}

main{
    
    width: 100%;
    height: 700px;
    padding: 0%;
    margin: 0%;
}

.izquierda{

    width: 800px;
    height: 900px;
    background-color: burlywood;
    padding: 0%;
    margin: 0;
    position: relative;
    top: 5px;
    
}

.derecha{
    width: 2550px;
    height: 900px;
    background-color: blueviolet;
    padding: 0%;
    margin: 0;
    position: relative;
    left: 820px;
    bottom: 915px;
    
}

.abajo{
    width: 3370px;
    height: 350px;
    background-color: chocolate;
    position: relative;
    bottom: 900px;
}


footer{
    width: 3370px;
    height: 150px;
    background-color: chartreuse;
    position: relative;
    top: 575px;
  
}
.internos{
    background-color: aquamarine;
    height: 400px;
    margin: 20px;
    position: relative;
    top: 35px;

}